In [1]:
import pandas as pd
import matplotlib as ptl

# Fonte dos dados: http://www.ssp.sp.gov.br/transparenciassp/Consulta.aspx

In [2]:
roubos_celulares=pd.read_csv('dados_roubo_celulares.csv',encoding='ISO-8859-1', sep = ';')

In [3]:
roubos_celulares.head(5)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2022,1710085,1710085/2022,01/10/2022 00:08,01/10/2022 00:08,30/09/2022,18:00,A NOITE,30/09/2022,01/10/2022 00:08,...,DXF9J96,SP,DIADEMA,Vermelho,I/TOYOTA COROLLA,2022.0,NaN,AUTOMOVEL,1.0,Samsung
1,2022,2381,2381/2022,01/10/2022 00:17,01/10/2022 00:17,30/09/2022,23:30,A NOITE,30/09/2022,01/10/2022 00:17,...,FNW7B16,SP,S.PAULO,Branco,HONDA/ADV 150,2021.0,2022.0,MOTONETA,1.0,Apple
2,2022,7423,7423/2022,01/10/2022 00:20,01/10/2022 00:20,30/09/2022,20:00,A NOITE,30/09/2022,01/10/2022 00:20,...,GBT1A77,SP,CAMPINAS,Preta,I/TOYOTA HILUX CDSRXA4FD,2022.0,2022.0,CAMINHONETE,1.0,Apple
3,2022,7423,7423/2022,01/10/2022 00:20,01/10/2022 00:20,30/09/2022,20:00,A NOITE,30/09/2022,01/10/2022 00:20,...,GBT1A77,SP,CAMPINAS,Preta,I/TOYOTA HILUX CDSRXA4FD,2022.0,2022.0,CAMINHONETE,1.0,Samsung
4,2022,134311,134311/2022,01/10/2022 00:27,01/10/2022 00:27,30/09/2022,18:30,A NOITE,30/09/2022,01/10/2022 00:27,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Xiaomi

In [4]:
roubos_celulares.tail(5)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
24300,2022,164134,164134/2022,31/10/2022 23:41,31/10/2022 23:41,19/10/2022,15:00,A TARDE,31/10/2022,31/10/2022 23:41,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Apple
24301,2022,164289,164289/2022,31/10/2022 23:50,31/10/2022 23:50,29/10/2022,02:30,DE MADRUGADA,31/10/2022,31/10/2022 23:50,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Samsung
24302,2022,8247,8247/2022,31/10/2022 23:55,31/10/2022 23:55,31/10/2022,21:10,A NOITE,31/10/2022,31/10/2022 23:55,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Apple
24303,2022,3375,3375/2022,31/10/2022 23:58,31/10/2022 23:58,31/10/2022,22:50,A NOITE,31/10/2022,31/10/2022 23:58,...,FLZ0835,SP,S.PAULO,Branco,FIAT/PUNTO ESSENCE 1.6,2013.0,2014.0,AUTOMOVEL,1.0,Samsung
24304,2022,1424,1424/2022,31/10/2022 23:58,31/10/2022 23:58,30/10/2022,02:00,DE MADRUGADA,31/10/2022,31/10/2022 23:58,...,DZT9D10,SP,S.PAULO,Preta,HONDA/CG 150 TITAN KS,2008.0,2008.0,MOTOCICLO,1.0,Samsung

In [5]:
roubos_celulares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24305 entries, 0 to 24304
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANO_BO                    24305 non-null  int64
 1   NUM_BO                    24305 non-null  int64
 2   NUMERO_BOLETIM            24305 non-null  object
 3   BO_INICIADO               24305 non-null  object
 4   BO_EMITIDO                24305 non-null  object
 5   DATAOCORRENCIA            24305 non-null  object
 6   HORAOCORRENCIA            22528 non-null  object
 7   PERIDOOCORRENCIA          24305 non-null  object
 8   DATACOMUNICACAO           24305 non-null  object
 9   DATAELABORACAO            24305 non-null  object
 10  BO_AUTORIA                24305 non-null  object
 11  FLAGRANTE                 24305 non-null  object
 12  NUMERO_BOLETIM_PRINCIPAL  6639 non-null   object
 13  LOGRADOURO                23232 non-null  object
 14  NUMERO                    24266 non-null  float64
 15  BAIRRO                    23980 non-null  object
 16  CIDADE                    24266 non-null  object
 17  UF                        24266 non-null  object
 18  LATITUDE                  21324 non-null  object
 19  LONGITUDE                 21324 non-null  object
 20  DESCRICAOLOCAL            24305 non-null  object
 21  EXAME                     0 non-null      float64
 22  SOLUCAO                   24305 non-null  object
 23  DELEGACIA_NOME            24305 non-null  object
 24  DELEGACIA_CIRCUNSCRICAO   24305 non-null  object
 25  ESPECIE                   24305 non-null  object
 26  RUBRICA                   24305 non-null  object
 27  DESDOBRAMENTO             25 non-null     object
 28  STATUS                    24305 non-null  object
 29  TIPOPESSOA                62 non-null     object
 30  VITIMAFATAL               62 non-null     object
 31  NATURALIDADE              18 non-null     object
 32  NACIONALIDADE             19 non-null     object
 33  SEXO                      62 non-null     object
 34  DATANASCIMENTO            62 non-null     object
 35  IDADE                     62 non-null     float64
 36  ESTADOCIVIL               53 non-null     object
 37  PROFISSAO                 42 non-null     object
 38  GRAUINSTRUCAO             40 non-null     object
 39  CORCUTIS                  0 non-null      float64
 40  NATUREZAVINCULADA         62 non-null     object
 41  TIPOVINCULO               62 non-null     object
 42  RELACIONAMENTO            0 non-null      float64
 43  PARENTESCO                0 non-null      float64
 44  PLACA_VEICULO             5169 non-null   object
 45  UF_VEICULO                5166 non-null   object
 46  CIDADE_VEICULO            5166 non-null   object
 47  DESCR_COR_VEICULO         5164 non-null   object
 48  DESCR_MARCA_VEICULO       5171 non-null   object
 49  ANO_FABRICACAO            24206 non-null  float64
 50  ANO_MODELO                23570 non-null  float64
 51  DESCR_TIPO_VEICULO        5171 non-null   object
 52  QUANT_CELULAR             24260 non-null  float64
 53  MARCA_CELULAR             24260 non-null  object
dtypes: float64(9), int64(2), object(43)
memory usage: 10.0+ MB

In [6]:
# aqui estamos verificando onde temos valores nulos.
roubos_celulares.isnull().sum()

ANO_BO                          0
NUM_BO                          0
NUMERO_BOLETIM                  0
BO_INICIADO                     0
BO_EMITIDO                      0
DATAOCORRENCIA                  0
HORAOCORRENCIA               1777
PERIDOOCORRENCIA                0
DATACOMUNICACAO                 0
DATAELABORACAO                  0
BO_AUTORIA                      0
FLAGRANTE                       0
NUMERO_BOLETIM_PRINCIPAL    17666
LOGRADOURO                   1073
NUMERO                         39
BAIRRO                        325
CIDADE                         39
UF                             39
LATITUDE                     2981
LONGITUDE                    2981
DESCRICAOLOCAL                  0
EXAME                       24305
SOLUCAO                         0
DELEGACIA_NOME                  0
DELEGACIA_CIRCUNSCRICAO         0
ESPECIE                         0
RUBRICA                         0
DESDOBRAMENTO               24280
STATUS                          0
TIPOPESSOA                  24243
VITIMAFATAL                 24243
NATURALIDADE                24287
NACIONALIDADE               24286
SEXO                        24243
DATANASCIMENTO              24243
IDADE                       24243
ESTADOCIVIL                 24252
PROFISSAO                   24263
GRAUINSTRUCAO               24265
CORCUTIS                    24305
NATUREZAVINCULADA           24243
TIPOVINCULO                 24243
RELACIONAMENTO              24305
PARENTESCO                  24305
PLACA_VEICULO               19136
UF_VEICULO                  19139
CIDADE_VEICULO              19139
DESCR_COR_VEICULO           19141
DESCR_MARCA_VEICULO         19134
ANO_FABRICACAO                 99
ANO_MODELO                    735
DESCR_TIPO_VEICULO          19134
QUANT_CELULAR                  45
MARCA_CELULAR                  45
dtype: int64

In [7]:
# Aqui estamos descrevendo quais modelos de celulares são os mais furtados por marca.
roubos_celulares.groupby(['MARCA_CELULAR']).size()

MARCA_CELULAR
APPLE            1
Alcatel          9
Apple         5692
Asus           212
BLU             20
Huawei          32
LG             719
Lenovo          18
Microsoft        5
Motorola      5927
Multilaser      48
Nokia           50
Outros         728
Positivo       145
Samsung       8653
Siemens         14
Sony             4
Xiaomi        1982
ZTE              1
dtype: int64

In [8]:
# Aqui apresentamos a quantidade de aparelhos roubados e a frequência com que ocorreu
roubos_celulares.groupby(['QUANT_CELULAR']).size()

QUANT_CELULAR
1.0      23835
2.0        270
3.0         60
4.0         31
5.0         10
6.0          4
8.0          2
9.0         12
10.0         2
11.0         1
12.0         1
13.0         1
14.0         2
15.0         2
17.0        12
20.0         4
23.0         1
39.0         1
48.0         1
51.0         2
101.0        2
135.0        1
198.0        1
300.0        2
dtype: int64

In [10]:
roubos_celulares.groupby(['CIDADE']).size()

CIDADE
ADAMANTINA          1
AGUAI               1
AGUDOS              1
ALUMINIO            2
AMERICANA          39
                   ..
VARZEA PAULISTA    25
VERA CRUZ           4
VINHEDO            41
VIRADOURO           2
VOTORANTIM         13
Length: 244, dtype: int64

In [12]:
roubos_celulares.groupby(['BAIRRO']).size()

BAIRRO
(L-9)                       1
.                           1
A Definir                   1
ABERNESSIA                  1
ADALGISA                    1
                           ..
Água Branca                30
Água Chata                  3
Água Espraiada              1
Água Funda                  2
Área Rural de Rio Claro     2
Length: 3412, dtype: int64